node_modules/
.DS_Store
server/uploads/panoramas/*
server/uploads/thumbnails/*
server/uploads/images/*
!server/uploads/panoramas/.gitkeep
!server/uploads/thumbnails/.gitkeep
!server/uploads/images/.gitkeep
